
<% current_player %>
<div data-controller= "room" id= "<%= dom_id(@gameroom) %>" class=" w-full h-full flex  justify-center items-center" data-room-id-value = <%= @gameroom.id %>>
<%= render(BoardComponent.new(board: @gameroom.board)) %>

    
</div>


<div  data-controller="chat" data-chat-id-value ="<%= @gameroom.id %>" id= "<%= dom_id(@gameroom) %>">

<%= render(ChatboxComponent.new(gameroom: @gameroom, player: current_player)) %>
</div>

