
<%= component_controller do %>
<div  class=" border-solid border-2 border-black w-16 h-16 rounded-lg items-center <%= @shade %>  text-center" data-key=<%= key %> >  
<%= reflex_tag :test, :button, "hello", "data-key" => key %>
<%= @game_id %>
<%= @value %>
<%= @count %>

</div>


<% end %>

